<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jumper.mapper.CourseMapper">

    <select id="selectCourseByPage" parameterType="com.jumper.pojo.Page" resultType="com.jumper.pojo.Course">
        select course.*,teacher.userName teacherName from course,teacher where course.teacherID=teacher.userID limit #{index},#{pageSize}
    </select>

    <select id="selectCourseByID" resultType="com.jumper.pojo.Course">
        select * from course where courseID=#{courseID}
    </select>

    <select id="courseCount" resultType="int">
        select count(1) from course
    </select>

    <insert id="addCourse" parameterType="com.jumper.pojo.Course">
        insert into course
        values(#{courseID},#{courseName},#{teacherID},#{courseTime},#{classRoom},#{courseWeek},#{courseType},#{collegeID},#{score})
    </insert>

    <update id="updateCourse" parameterType="com.jumper.pojo.Course">
        update course
        set courseName=#{courseName},teacherID=#{teacherID},courseTime=#{courseTime},classRoom=#{classRoom},courseWeek=#{courseWeek},courseType=#{courseType},collegeID=#{collegeID},score=#{score}
        where courseID=#{courseID}
    </update>

    <delete id="deleteCourse" parameterType="int">
        delete from course where courseID=#{courseID}
    </delete>

    <select id="selectCourseByName" resultType="com.jumper.pojo.Course">
        select course.*,teacher.userName teacherName from course,teacher where course.courseName like "%"#{courseName}"%" and course.teacherID=teacher.userID
    </select>

    <select id="countCourseByName" parameterType="String" resultType="int">
        select count(1) from course where courseName like "%"#{courseName}"%"
    </select>

    <select id="selectCourseByTeacherID" resultType="com.jumper.pojo.Course">
        select course.*,teacher.userName teacherName from course,teacher where course.teacherID=teacher.userID and course.teacherID=#{teacherID}
    </select>
</mapper>