<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jumper.mapper.RoleMapper">

    <select id="selectRoleByID" resultType="com.jumper.pojo.Role">
        select * from role where roleID=#{roleID}
    </select>


</mapper>